/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
*{
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}
.btn-primary{
  background-color: #FF900E;
  border-radius: 8px;
  color:#FFFFFF;
  font-size: 20px;
  border:none;
  padding:20px 25px;
  cursor: pointer;
}
main{
  max-width:1440px;
  margin:0 auto;
}
/* header styles */
header{
  background: rgba(255, 144, 14, 0.1);
  padding:50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right:30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color:#727272;
}
.nav-title{
  font-size:3rem;
  font-weight: 700px;
  color:#131313;
  align-items: center;
}
/* banner-content */
.banner-content{
 max-width: 800px;
 text-align: center;
 margin:0 auto;
}
.banner-title{
  font-size: 4em;
  font-weight: 700px;
  color:#131313;
}
.banner-description{
  color:#727272;
}
.banner img{
  width:100%;
  margin-top: 10px;
}

/* featured-area */
.featured-area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  align-content: center;
  padding:10px;
}
.feature-images{
  display: grid;
  padding:5px;
  grid-template-columns: repeat(2,1fr);
  gap:24px;
}
.feature-information{
  padding:280px 70px;
}
.feature-title{
  font-size: 45px;
  font-weight:normal;
  color:#727272;
  padding:0px 5px;
}
.feature-title p{
  color:#131313;
}
.feature-description{
 padding:5px;
}
span{
  color:#FF900E;
}
/* profile-feature */
.profile-container{
  display: flex;
  padding:5px;
  gap:10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.profile-heading{
  font-size:45px;
  font-weight: 700;
}
.profile-heding-feature{
  margin-bottom:30px;
}
.profile-features-title{
  font-size: 25px;
  font-weight:600;  
}
.profile-description{
  color:#727272;
}
.pfofile-features-description{
  margin-top:30px;
  padding:20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.profile-features-description{
  color:#727272;
}
.profile-feture-image{
 margin-left:40px;
}
h2.tenyears-experience {
  background: #FF900E;
  color:#FFFFFF;
  font-size: 65px;
  font-weight: 700;
  padding: 5px 15px;
  text-align: center;
  width: 30%;
  padding:30px;
  margin-top: -30px;
}
.experience{
  font-size: 25px;
  font-weight: 500px;
  color:#FFFFFF;
}
/* skill-section */
.skill-heading{
  font-size: 45px;
  font-weight: 700px;
}
.skill-description{
  font-size: 20px;
  font-weight: 400;
  color:#727272;
}
.skill-review {
  display: grid;
  grid-template-columns: repeat(4,1fr);
 
  margin:100px 0px;;
}
.skill-pier{
  border:1px solid tomato;
  text-align: center;
  padding:45px;
  margin:45px;
  align-items: center;
  box-sizing: border-box;
}
.skill-icon.skill-number.award-winning{
  padding:40px;
}
.skill-number{
  font-size: 45px;
  font-weight: 600;
  color:#727272;
}
.award-winning{
  font-size: 20px;
  font-weight: 600;
  color:#727272;
}
/* advertise- section */
.advertise-top {
  text-align: center;
  margin-bottom: 50px;
}
.advertise-title{
  font-size: 45px;
  font-weight: 700px;
}
.advertise-description{
  font-size: 20px;
  font-weight: 400;
  color:#727272;
}
.advertise-items{
  display: grid;
 grid-template-columns: repeat(4,1fr);
 padding:5px;
}
.advertise-items img {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items: center;
  margin: 10px;
  opacity: 0.05;
  color:#727272;
}
/* footer-section */
.content-footer{
  background-color: #FFF4E7;
  margin:110px 240px; 
  border-radius: 5px;
}
.footer-content p{
  text-align: center;
  padding:40px 410px;
}









/* responsive media query */
/* Mobile devices */
@media  screen and (max-width:576px) {
  header{
    padding:20px;
  }
  nav{
   flex-direction: column;
  }
  .nav-title{
    font-size:2rem;
  }
  .banner-title{
    font-size: 2rem;
  }
  .feature-images{
    grid-template-columns: repeat(1,1fr);
  }
  .featured-area{
   flex-direction: column;
   flex-wrap: wrap;
  }
  .feature-information{
    padding:5px 10px;
  }
  .feature-description{
    font-size: 30px;
  }
  .profile-container{
    flex-direction: column;
  }
  .profile-feture-image{
    padding:10px;
    margin:5px;
    width:100%;
   }
   h2.tenyears-experience { 
    font-size: 30px;
    font-weight: 700;
    margin-top: -30px;
    width: 100%;
  }
  /* sills  */
  .skill-review {
    grid-template-columns: repeat(1,1fr);
  }
  .advertise-items {
    grid-template-columns: repeat(2,1fr);
  }
  /* footer */
  .content-footer{
    margin:5px 5px; 
    border-radius: 5px;
  }
  .footer-content p{
    text-align: center;
    padding:30px 10px;
    font-size: 25px;
  }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding:50px;
  }
  nav{
   flex-direction: column;
  }
  .nav-title{
    font-size:2rem;
  }
  .banner-title{
    font-size: 3rem;
  }
  .feature-images{
    grid-template-columns: repeat(1,1fr);
  }
  .featured-area{
   flex-direction: column;
  }
  .feature-description{
    font-size: 20px;
  }
  .feature-information{
    padding:5px 10px;
  }
  .profile-container{
    flex-direction: column;
  }
  .profile-feture-image{
    width:100%;
   }
   h2.tenyears-experience { 
    width: 100%;
  }
  .skill-review {
    grid-template-columns: repeat(2,1fr);
  }
  /* footer */
  .content-footer{
    margin:5px 5px; 
    border-radius: 5px;
  }
  .footer-content p{
    text-align: center;
    padding:50px 10px;
    font-size: 20px;
  }
}